*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 245, 245);
}

p {
    font-size: 2rem;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 800px;
    max-width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 3px;
}

.btn {
    background-color: rgb(118, 101, 118);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: .25rem;
    margin: .15rem;
}

.btn:hover {
    background-color: rgb(233, 144, 243);
    color: black;
}

.start, .next {
    font-size: 1rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}